
iOS Bootcamp/2020/Section 1 - Getting Started/original.zip
Complete Guide to TensorFlow for Deep Learning with Python/FULL_TENSORFLOW_NOTES__AND_DATA.zip
Complete Guide to TensorFlow for Deep Learning with Python/FULL_TENSORFLOW_NOTES__AND_DATA.zip
Complete Guide to TensorFlow for Deep Learning with Python/.DS_Store
Pygame/.DS_Store
iOS Bootcamp/.DS_Store
.DS_Store
.DS_Store
iOS Bootcamp/2020/.DS_Store
iOS Bootcamp/2019/.DS_Store
iOS Bootcamp/.DS_Store
*.pyc
Web Development Bootcamp/.DS_Store
Web Development Bootcamp/.DS_Store
Web Development Bootcamp/.DS_Store
*.h5
*.h5
Reinforment Learning/MarioRL/marioRL.h5
Web Development Bootcamp/.DS_Store
Reinforment Learning/MarioRL/marioRL.h5
Web Development Bootcamp/.DS_Store

.DS_Store
Complete Guide to TensorFlow for Deep Learning with Python/Tensorflow-Bootcamp-master/.DS_Store
Data Science & Machine Learning Bootcamp 2019/.DS_Store
iOS Bootcamp/.DS_Store
iOS Bootcamp/2019/.DS_Store
iOS Bootcamp/2019/Auto Layout Calculator Challenge/Auto Layout Calculator/.DS_Store
iOS Bootcamp/2019/BitcoinTicker-iOS12-master/.DS_Store
iOS Bootcamp/2019/BitcoinTicker-iOS12-master/Pods/.DS_Store
iOS Bootcamp/2019/Calculator-iOS12-master/.DS_Store
iOS Bootcamp/2019/Coding Activities/.DS_Store
iOS Bootcamp/2019/Coding Activities/Auto Layout Challenge/.DS_Store
iOS Bootcamp/2019/Coding Activities/Core Data Test Project/.DS_Store
iOS Bootcamp/2019/Coding Activities/Dicee App/.DS_Store
iOS Bootcamp/2019/Coding Activities/Dicee App/Dicee Image Assets/.DS_Store
iOS Bootcamp/2019/Coding Activities/Dicee App/Dicee/Dicee/.DS_Store
iOS Bootcamp/2019/Coding Activities/Dicee App/Dicee/Dicee/Assets.xcassets/.DS_Store
iOS Bootcamp/2019/Coding Activities/I Am Poor/.DS_Store
iOS Bootcamp/2019/Coding Activities/I Am Rich/.DS_Store
iOS Bootcamp/2019/Coding Activities/I-Am-Poor-iOS12-master/.DS_Store
iOS Bootcamp/2019/Coding Activities/I-Am-Poor-iOS12-master/I Am Poor/.DS_Store
iOS Bootcamp/2019/Coding Activities/I-Am-Poor-iOS12-master/I Am Poor/Assets.xcassets/.DS_Store
iOS Bootcamp/2019/Coding Activities/Lifeline/.DS_Store
iOS Bootcamp/2019/Coding Activities/Lifeline/Destini-iOS12-master/.DS_Store
iOS Bootcamp/2019/Coding Activities/Magic 8 Challenge/.DS_Store
iOS Bootcamp/2019/Coding Activities/Magic 8 Challenge/Magic 8 Ball Image Assets/.DS_Store
iOS Bootcamp/2019/Coding Activities/Magic 8 Challenge/Magic 8 Ball Image Assets/Ball Images/.DS_Store
iOS Bootcamp/2019/Coding Activities/Magic 8 Challenge/Magic 8 Ball/Magic 8 Ball/.DS_Store
iOS Bootcamp/2019/Coding Activities/Magic 8 Challenge/Magic 8 Ball/Magic 8 Ball/Assets.xcassets/.DS_Store
Advanced NLP with Deep Learning/Unit 1 - CNN/glove.6B.zip
Advanced NLP with Deep Learning/Unit 1 - CNN/glove.6B/glove.6B.100d.txt
Advanced NLP with Deep Learning/Unit 1 - CNN/glove.6B/glove.6B.200d.txt
Advanced NLP with Deep Learning/Unit 1 - CNN/glove.6B/glove.6B.300d.txt
Advanced NLP with Deep Learning/Unit 1 - CNN/glove.6B/glove.6B.50d.txt
